[Desktop Entry]
Name=Conversor PDF
Comment=Convertir TXT y DOCX a PDF
Exec=/usr/bin/conversor-pdf/ConversorPDF
Icon=/usr/share/icons/conversor_icon.png
Terminal=false
Type=Application
Categories=Utility;
